<div class="wrapper">
  <div class="row">
    <div class="col-md-6 text-section">
      <h1 class="text-center">Signup</h1>
      <p class="description text-center">It helps you to manage your daily expenses very easily.</p>
    </div>
    <div class="col-md-6 form-section">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <div class="form-group" >  
          <%= f.text_field :name, placeholder: 'Name', class: 'form-control', required: 'true' %>  
        </div>
        <div class="form-group" >
          <%= f.label :gender %>
          <%= f.radio_button :gender, 'male', class: 'text-center' %> Male
          <%= f.radio_button :gender, 'female' %> Female
        </div>
        <div class="form-group" >
          <%= f.text_field :city, placeholder: 'city', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'form-control' %>
          <% if @minimum_password_length %>
            <small><em>(<%= @minimum_password_length%> characters minimum)</em></small>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm password', class: 'form-control' %>
        </div>
        <div class="form-group" >  
          <%= f.file_field :image, placeholder: 'Image', class: 'form-control' %>
        </div>
        <div class="actions" align="center">
          <%= f.submit "Sign up", class: 'btn btn-outline-success btn-block' %>
        </div>
      <% end %>

      <p class="text-center"><%= render "devise/shared/links" %></p>
    </div>
  </div>
</div>