<div class="wrapper">
  <div class="form-section">
    <h2 class="header text-center">Resend unlock instructions</h2>
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, class: 'text-left' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control' %>
      </div>

      <div class="actions" align="center">
        <%= f.submit "Resend unlock instructions", class: 'btn btn-outline-success'  %>
      </div>
    <% end %>

    <p class="margin-tag text-center"><%= render "devise/shared/links" %></p>
  </div>
</div>