<div class="wrapper">
  <div class="card ">
    <div class="card-header"> 
      <h2 class="float-left">Expenses</h2>
      <%= link_to '', add_expense_expenses_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-successs fa fa-plus-square float-right'}%>
      
      <%= link_to '', limits_path, class: 'btn btn-successs fas fa-exclamation-triangle float-right' %> 
    </div>
    <div class="card-body text-center">
      <% if alert.present? %>
        <p id="alert" class="alert alert-success"> <%= alert %> </p>
      <% end %>
      <table class="table table-bordered" align="center">
        <thead> 
          <tr>
            <th>ID</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead> 
        <tbody id="expense-list">
          <%= render 'index' %>  
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="text-right">
  <%== pagy_bootstrap_combo_nav_js(@pagy)%>
  <!--%=# pagy_bootstrap_combo_nav_js   render partial: 'pagy/nav', locals: { pagy: @pagy }%-->
</div>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
